body {
  font-family: "Arial", "Meiryo", sans-serif;
  text-align: center;
}

.google-fonts {
  font-family: sans-serif;
}

h1{
  letter-spacing: 1.2em;
  text-shadow: 1px 1px 2px gray;
  border-bottom: solid 3px rgb(115, 115, 114);
}

.color-pink {
  color: rgb(255, 192, 203);
}

.color-skyblue {
  color: skyblue;
}

#basic > p {
  font-weight: bold;
}